.logo {
  width: 10rem;
  margin-left: 3.5rem;
}
.navbar {
  color: white;
  margin-left: 2rem;
}
.logo1 {
  width: 12%;
  float: left;
}
.navbar1 {
  width: 88%;
  float: right;
  margin-top: 10px;
}
